[submodule "third-party/todo.txt-cli"]
	path = third-party/todo.txt-cli
	url = git://github.com/freerobby/todo.txt-cli.git
[submodule "third-party/milkmaid"]
	path = third-party/milkmaid
	url = git://github.com/mariusgrigoriu/milkmaid.git
